:root{
  --color-background: rgba(0,0,0,0.03);
  --color-foreground: #fff;
  --color-bind: #eff0f5;



  --spacing-0: 4px;
  --spacing-1: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;

  --font-size0: 1.75rem;
  --font-size1: 1.5rem;
  --font-size2: 1.125rem;
  --font-size3: 1rem;
  --font-size4: 0.875rem;
  --font-size5: 0.710rem;
  --font-size6: 0.675rem;

}

