body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#app-container{
  display: grid;
  grid-template-columns: 1fr minmax(200px, 1200px) 1fr;
  grid-template-rows: fit-content(100%) fit-content(100%) auto;
}

header {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: 1fr minmax(200px, 1200px) 1fr;
  background-color: var(--color-foreground);
  position: sticky;
  top: 0;
  z-index: 10;
}

slide {
  display: grid;
  grid-column: 2/3;
  position: relative;
}

main{
  grid-column: 2/3;
}


@media only screen and (max-width: 768px) {
  html{
    font-size: 104.16666666666666px;
  }
  #app-container {
    grid-template-columns: 1fr;

  }
  header {
    grid-column: 1;
  }
  slide{
    grid-column: 1;
  }
  main {
    grid-column: 1;
  }


}
